
body,html{
  margin:0;
  background-image: linear-gradient(to right top, #fefefe, #fdfdfd, #fdfdfd, #fcfcfc, #fbfbfb);
  background-attachment: fixed; /*edit*/
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.form-login{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 11%;
}

.format-input{
  background-color:rgb(71, 48, 162);
  padding: 5%;
  width: 30%;
  align-items: center;   /* <---- NEW    */
  border: 2px solid black;
}
.format-input h1{
  text-align: center;
  color:white;
}

.format-input input{
  width:100%;
}



#signin-container{
  text-align:center;
}

.productsContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem;
  padding-bottom: 3%;
}

.productImg {
  width: 100%; 
}

.product{
  border: 0.3rem double rgb(170, 168, 168);
  width: 250px;
  height: 410px;
  text-align: center;
  margin-top: 1.5rem;
  padding: 1rem;
}

.productText{
  margin-top: 1rem;
}

#imgContainer{
  padding: 5%;
}

.bg {
  background-image: url('https://images.pexels.com/photos/1884581/pexels-photo-1884581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1rem solid rgb(43, 28, 28);
  min-height: 80vh;
  margin-top: 3%;
  
} 

.footerContainer{
  background-color: rgb(36, 34, 34);
  width: 100%;
  padding: 2%;
  color: white;
  text-align: center;  
  margin-top: auto;
}

.addCart{
  background-color: rgb(231, 38, 38);
  color: white;
  border: none;
  padding: 0 1rem;
}

.addCart:hover{
  background-color: rgb(203, 17, 17);
}

.removeCart{
  background-color: rgb(38, 77, 231);
  color: white;
  border: none;
  padding: 0 1rem;
}

.removeCart:hover{
  background-color: rgb(12, 35, 163);
}

.productScreenContainer{
  margin-top: 8rem;
  margin-bottom: 4rem;
  text-align: center;
  border: 5px double black;
  padding: 1rem;
  background-color: rgb(240, 240, 240);
}
.productScreenImg{
  width: 500px; 
}

.productScreenImg img{
  width: 100%;
}

.productScreenContent h5{
  text-align: left;
  padding: 0.3em;
}

.productScreenNotFound{
  background-color: rgb(225, 154, 154);
  border: 2px solid red;
  border-radius: 15px;
  text-align: center;
  margin-top: 5rem;
  padding: 1%;
  margin-right: 3%;
  margin-left: 3%;
  color: rgb(178, 57, 57);
}

.cartNumber{
  color:white;
  background-color: rgb(219, 12, 12);
  border-radius: 50%;
  padding: 0 7px;
}

.cartContainer{
  margin-top: 8rem;
}

.cartCol2{
  text-align: center;
  margin-bottom: 2em;
}

.cartScreenItem{
  padding: 2rem;
  background-color: rgb(242, 239, 239);
  margin-bottom: 1rem;
}

.cartScreenImg{
  width: 20%;
}

.cartScreenItemNum{
  font-size: 25px;
  float:right;
}

.cartContainer a{
  margin-left:0.5rem;
}

.cartScreenPrice{
  margin-left: 15%;
}

.cartScreenRemove{
  margin-left: 15%;
}

.cartScreenSummaryInfo{
  text-align: left;
}


@media only screen and (max-width: 780px) {

 .cartScreenItem {
    text-align: center
  }

  .cartContainer h1{
    text-align: center;
  }

  .cartScreenImg{     
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
  }

  .cartScreenPrice{
    display: block;
    margin:0;
    padding: 1rem;
  }
  .cartScreenRemove{
    margin:0;
  }

}

@media only screen and (max-width: 500px) {
  .cartScreenImg{     
    width:70%;
  }
}

.dropDown{
  font-size: 5px;
}

.changePasswordContainer{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -80%);
}

.changePaswordInput{
  width: 25%;
  min-width: 275px;
  margin: 2%;
}




